#heart {
  position: absolute;
  width: 216px;
  height: 200px;
  margin-top: 10px;
  transition-duration: 200ms;
  background:transparent;
  border:none;
}

:root{
    --pseudocolor:white;
}

#heart::before, #heart::after {
  content: "";
  position: absolute;
  top: 10%;
  width: 104px;
  height: 160px;
  border-radius: 50px 50px 0 0;
  background: var(--pseudocolor);
  transition-duration: 200ms;
}

#heart::before {
  left: 104px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
#heart:hover{
    --pseudocolor: pink;
    cursor:grab;
    transform: scale(1.1,1.1);
}

#heart:active{
    transform:scale(1,1);
}

@keyframes shake {
    0% {transform:rotate(0deg)}
    25% {transform:rotate(-10deg)}
    50% {transform:rotate(10deg)}
    75% {transform:rotate(0deg)}
    100% {transform: scale(1.1,1.1)}
}

.shaking{
    animation-name: shake;
    animation-iteration-count: 1;
    animation-duration: 350ms;
}